/*Colors and fonts*/

body {
 background: rgb(235, 235, 235);
 font-family: 'Libre Baskerville', serif;
 color: rgb(50, 50, 50);
 font-size: 14px;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}


h1 {
	color: #9FC490;
	letter-spacing: 4px;
	font-size: 32px;

}
 
h2 {
	color: #465362;
	letter-spacing: 2px;
}

a {
	text-decoration: none;
	font-family:'EB Garamond', serif;
	font-weight: ital, 1,400;
	font-size: 18px;
	color: #011936;
}	

a:hover {
    color: #9FC490;
}


@media(max-width: 960px){
	.container{
		width: 700px;
	}
}

@media(max-width: 700px){
	.container{
		width: 500px;
	}
}

@media(max-width: 500px){
	.container{
		width: 300px;
	}
}

@media(max-width: 300px){
	.container{
		width: 100px;
	}
}

/* Custom design with class*/

.container {
	width: 700px;
	margin: 40px auto;
}


.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
	border-radius: 6px;
	margin: 20px 0px;
	text-align: center;

}

.card-white h2:hover{
	font-weight: bolder;
}

.img-circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.btn-green{
	background-color: #011936;
	color: white;
	padding: 5px 17px;
	border-radius: 6px;
}

.btn-green:hover {
	background-color: #9FC490;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding:12px;
}

.list-inline i{
	font-size: 40px;
}



/* Design adjustment*/


#Introduction p{
	margin: 20px;
}
